@import "../../responsive.scss";
.searchBar {
  .types {
    button {
      padding: 8px 28px;
      border: 1px solid #999;
      border-bottom: none;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;

      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    border: 1px solid #999;
    height: 38px;

    input {
      border: none;
      padding: 0px 8px;
      width: 100px;
      outline: none;

      @include lg{
        padding: 0px 4px;
      }
    }

    button {
      border: none;
      background-color: #fece51;
      cursor: pointer;
      flex: 0.5;

      img {
        width: 20px;
      }
    }
  }
}
