@import "../../responsive.scss";
nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.4s ease;

    &:hover {
      scale: 1.03;
    }

    @include sm {
      display: none;
    }

    @include md {
      font-size: 11px;
    }
  }

  .left {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 3;

    .logo {
      display: initial !important;
      img {
        height: 50px;
        width: auto;
        max-width: 100px;

        @include md {
          height: 40px;
          width: auto;
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;

    flex: 2;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      margin-left: 10px;
    }

    @include sm {
      gap: 15px;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;

      img {
        width: 34px;
        height: 34px;
        object-fit: cover;
        border-radius: 50px;

        @include md {
          width: 28px;
          height: 28px;
        }

        @include sm {
          width: 32px;
          height: 32px;
        }
      }

      span {
        @include sm {
          display: none;
        }

        @include md {
          font-size: 12px;
        }
      }

      .profileButton {
        position: relative;
        padding: 10px 22px;
        background-color: #fece51;
        border-radius: 2px;
        cursor: pointer;

        @include md {
          padding: 6px 17px;
        }

        .notification {
          position: absolute;
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(247, 50, 50);
          border-radius: 50%;
          color: white;
          font-size: 14px;
          top: -8px;
          right: -8px;

          @include md {
            width: 20px;
            height: 20px;
            font-size: 10px;
          }
        }

        span {
          @include md {
            font-size: 10px;
          }
        }
      }
    }

    @include md {
      background-color: transparent;
    }

    a {
      display: flex;
      align-items: center;
      padding: 12px 14px;
      margin: 20px;

      @include sm {
        display: none;
      }

      @include md {
        font-weight: bold;
      }
    }

    .signup {
      border-radius: 2px;
      background-color: #fece51;
    }

    .menuIcon {
      display: none;
      z-index: 999;

      @include sm {
        display: inline;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        height: 32px;
        width: 32px;
        cursor: pointer;
      }
    }

    .menu {
      position: absolute;
      width: 50%;
      height: 100vh;
      top: 0;
      right: -60%;
      color: white;
      background-color: black;
      transition: all 0.9s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 18px;

      &.active {
        right: 0;
      }

      a {
        @include sm {
          display: initial;
        }
      }
    }
  }
}
